<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>Employees</h1>

    <p>
        <a href="#!/createEmployee">Create New</a>
    </p>

    <table class="table">

        <thead>
            <tr>
                <th>
                    Employee name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Position
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="employee in employees">
                <td>
                    {{employee.firstName}} {{employee.lastName}}
                </td>

                <td>
                    {{employee.department.departmentName}}
                </td>

                <td>
                    {{employee.position}}
                </td>
                    
                <td>
                    <a href="#!/editEmployee/{{employee.id}}">Edit</a> |
                    <a href="">Details</a> |
                    <a href="" ng-click="deleteEmployee(employee)">Delete</a>
                </td>
            </tr>
        </tbody>

    </table>
</body>
</html>