@{ ViewData["Title"] = "Home Page"; }

<div ng-app="ManagementApplicationSPA">
    <div ng-view>

    </div>
</div>

<script src="~/lib/angular-js/angular.min.js" type="text/javascript"></script>
<script src="~/lib/angular-js/angular-route.min.js" type="text/javascript"></script>
<script src="~/js/controllers/main/main.js" type="text/javascript"></script>
<script src="~/js/controllers/regions/regionsController.js" type="text/javascript"></script>
<script src="~/js/controllers/departments/departmentsController.js" type="text/javascript"></script>
<script src="~/js/controllers/employees/employeesController.js" type="text/javascript"></script>
<script src="~/js/controllers/tasks/tasksController.js" type="text/javascript"></script>
<script src="~/js/controllers/regions/createRegionController.js" type="text/javascript"></script>
<script src="~/js/controllers/departments/createDepartmentController.js" type="text/javascript"></script>
<script src="~/js/controllers/employees/createEmployeeController.js" type="text/javascript"></script>
<script src="~/js/controllers/tasks/createTaskController.js" type="text/javascript"></script>
<script src="~/js/controllers/regions/editRegionController.js" type="text/javascript"></script>
<script src="~/js/controllers/departments/editDepartmentController.js" type="text/javascript"></script>
<script src="~/js/controllers/employees/editEmployeeController.js" type="text/javascript"></script>
<script src="~/js/controllers/tasks/editTaskController.js" type="text/javascript"></script>
<script src="~/js/controllers/regions/deleteRegionController.js" type="text/javascript"></script>
<script src="~/js/controllers/departments/deleteDepartmentController.js" type="text/javascript"></script>
<script src="~/js/controllers/employees/deleteEmployeeController.js" type="text/javascript"></script>
<script src="~/js/controllers/tasks/deleteTaskController.js" type="text/javascript"></script>
<script src="~/js/controllers/regions/detailsRegionController.js" type="text/javascript"></script>
<script src="~/js/controllers/departments/detailsDepartmentController.js" type="text/javascript"></script>
<script src="~/js/controllers/employees/detailsEmployeeController.js" type="text/javascript"></script>
<script src="~/js/controllers/tasks/detailsTaskController.js" type="text/javascript"></script>