@{ ViewData["Title"] = "Home Page"; }

<div ng-app="ManagementApplicationSPA">
    <div ng-view>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js" type="text/javascript"></script>

<script type="text/javascript">
    angular
        .module('ManagementApplicationSPA', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/home/index.html',
                        controller: 'IndexController'
                    })
                .when('/regions',
                    {
                        templateUrl: 'pages/regions/index.html',
                        controller: 'ReionsController'
                    })
                .when('/departments',
                    {
                        templateUrl: 'pages/departments/index.html',
                        controller: 'DepartmentsController'
                    })
                .when('/employees',
                    {
                        templateUrl: 'pages/employees/index.html',
                        controller: 'EmployeesController'
                    })
                .when('/tasks',
                    {
                        templateUrl: 'pages/tasks/index.html',
                        controller: 'TasksController'
                    })
                .otherwise({
                    redirectTo: '/'
                });
        })
        .controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.message = 'Welcome text';
        }])
        .controller('ReionsController', ['$scope', '$http', function ($scope, $http) {
            $scope.regions = [];
            $http.get('@Url.Action("GetRegions", "Regions")')
                .then(function (response) {
                    $scope.regions = response.data;
                })
        }])
        .controller('DepartmentsController', ['$scope', '$http', function ($scope, $http) {
            $scope.departments = [];
            $http.get('@Url.Action("GetDepartments", "Departments")')
                .then(function (response) {
                    $scope.departments = response.data;
                })
        }])
        .controller('EmployeesController', ['$scope', '$http', function ($scope, $http) {
            $scope.employees = [];
            $http.get('@Url.Action("GetEmployees", "Employees")')
                .then(function (response) {
                    $scope.employees = response.data;
                })
        }])
        .controller('TasksController', ['$scope', '$http', function ($scope, $http) {
            $scope.tasks = [];
            $http.get('@Url.Action("GetTasks", "Tasks")')
                .then(function (response) {
                    $scope.tasks = response.data;
                })
        }])
</script>