<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Create</h1>

    <h4>Task</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form name="taskCreateForm">
                <div class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label">Task name</label>
                    <input class="form-control" ng-model="task.taskName" name="taskNameInput" required />
                    <span ng-show="taskCreateForm.taskNameInput.$error.required" class="text-danger">Enter the task name</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Task description</label>
                    <input class="form-control" ng-model="task.taskDescription" name="taskDescriptionInput" required />
                    <span ng-show="taskCreateForm.taskDescriptionInput.$error.required" class="text-danger">Enter the task description</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Employee</label>
                    <select class="form-control" ng-options="employee as employee.firstName + ' ' + employee.lastName for employee in employees"
                            ng-model="taskEmployee.employee"></select>
                    <span class="text-danger">Select the employee</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Deadline</label>
                    <input class="form-control" type="datetime-local" ng-model="task.deadline" value="{{task.deadline}}" name="taskDeadlineInput" required />
                    <span ng-show="taskCreateForm.taskDeadlineInput.$error.required" class="text-danger">Select the deadline</span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" ng-click="editTask()"
                           ng-disabled="taskCreateForm.$invalid" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="#!/tasks">Back to List</a>
    </div>
</body>
</html>