<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Edit</h1>

    <h4>Region</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="RegionName" class="control-label"></label>
                <input asp-for="RegionName" class="form-control" ng-model="region.regionName" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" ng-click="editRegion()" />
            </div>

        </div>
    </div>

    <div>
        <a href="#!/regions">Back to List</a>
    </div>

</body>
</html>